<div *ngIf="repo !== undefined" class="flex flex-col rounded-sm border border-black border-solid h-full px-2 py-1 gap-y-1 mb-2">
    <p class="text-base" id="name">{{repo.name}}</p>
    <p class="text-xs" id="description">{{repo.description}}</p>
    <div class="grow"></div>
    <div *ngIf="repo.topics.length > 0" class="flex flex-row flex-wrap gap-x-1 my-2">
        <span *ngFor="let topic of repo.topics" class="text-xs text-slate-200 bg-blue-600 rounded-sm p-1" [id]="'topic'+topic">{{topic}}</span>
    </div>
</div>
