<div *ngIf="options">
    <div class="flex flex-col gap-2 justify-self-center place-self-center justify-items-center place-items-center">
        <div class="flex flex-row items-stretch">
            <button (click)="changePage(options.minPage)" class="w-8 text-center text-xl border border-blue border-solid bg-blue">
                <p class="text-sm pb-1  text-blue-400">
                    &lt;&lt;
                </p>
            </button>
            <span *ngFor="let page of arrayFromRange(options.minPage,options.maxPage)" (click)="changePage(page)" class="w-8">
                <p class="text-center text-sm border border-blue border-solid bg-blue h-8 leading-7 text-blue-400" [ngClass]="{'bg-blue-600 text-slate': options.currentPage===page}">
                    {{page}}
                </p>
            </span>
            <button (click)="changePage(options.maxPage)"
                class="w-8 text-center text-sm border border-blue border-solid bg-blue leading-5 align-top">
                <p class="text-sm pb-1 text-blue-400">
                    &gt;&gt;
                </p>
            </button>
        </div>
        <div class="flex flex-row items-stretch w-full">
            <button
                class="text-blue-400 hover:text-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-1  border border-gray-300  self-start" (click)="changePage(options.currentPage - 1)">
                Previous
            </button>
            <div class="flex-1"></div>
            <button
                class="text-blue-400 hover:text-gray-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-4 py-1  border border-gray-300 self-end" (click)="changePage(options.currentPage + 1)">
                Next
            </button>
        </div>
    </div>
    <div class="flex flex-row items-center self-start">
        <label for="pageSelector" class="mr-2">Number of Pages:</label>
        <select id="pageSelector" [(ngModel)]="options.per_page" (change)="changePerPage($event)" class="border border-gray-300 rounded-md px-2 py-1">
            <option *ngFor="let opt of perPageOptions" [value]="opt.value">{{opt.label}}</option>
        </select>
    </div>
</div>
<div>
    <p *ngIf="!options" class="text-red-500">No options provided</p>
</div>