<div class="h-screen w-screen overflow-x-hidden flex flex-col place-items-center gap-4">
  <search-box (search)="search($event)" class="place-self-end justify-self-end mx-1 my-1 w-fit flex"></search-box>
  <app-userdetails [user]="user" class="w-fit mx-8 place-self-start"></app-userdetails>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mx-8 gap-8">
    <app-repocard *ngFor="let repo of repos" [repo]="repo" class="min-w-fit"></app-repocard>
  </div>
  <ng-template [ngIf]="repos.length > 0">
    <app-pageselector  [options]="pageSelectorOptions" (pageChange)="changePage($event)" (perPageChange)="changePerPage($event)" class="w-fit"></app-pageselector>
  </ng-template>
</div>